.line-adj{
    position: relative;
    display: flex;
    justify-content: space-between;
}
#icon-line3{
    padding: 10px;
    transform: translateX(-45%);
}
#line4{
    transform-origin: top;
    transform: scaleY(0);
    transition: 1.3s;
    height: 80px;
}
.line3{
    width: 3px;
    margin-left: 0;
    height: 100px;
    background-color: rgb(48, 48, 48);
    transform: scaleY(0%);
    transition:transform 0.25s;
}
#line3{
    height: 60px;
}
.line4show{
    transform: scaleY(1) !important;
}
#test{
    height: 100px;
}
.small2box{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.smallbox{
    width: 45%;
    height: 400px;
    border-radius: 10px;
    overflow: hidden;
    background: #1f1f1f;
    position: relative;
    transition: 0.5s;
}
#smolbox1{
    opacity: 0;
    transform: translateX(-100px);
}
#smolbox2{
    opacity: 0;
    transform: translateX(100px);
}
.smallboxshow{
    opacity: 1 !important;
    transform: translateX(0) !important;
}
.smalgrad{
    position: absolute;
    top: 0;
    left: 0;
    height: 500px;
    width: 500px;
    border-radius: 100%;
    opacity: 0;
    transition:opacity 0.3s ease-out;
}
#smolgrad1{
    background: rgb(195, 47, 34);
    background: radial-gradient(circle, rgb(195, 47, 34) 0%, rgba(13,28,235,0) 61%); 
}
#smolgrad2{
    background: rgb(195, 136, 34);
    background: radial-gradient(circle, rgb(195, 147, 34) 0%, rgba(13,28,235,0) 61%); 
}
.smalgradshow{
    opacity: 0.6 !important;
}
@media (max-width: 700px){
 .small2box{
    align-items: center;
    flex-direction: column;
 }
 .smallbox{
    width: 80%;
    margin-bottom: 20px;
 }
}
