.parent {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 500px;
    height: 500px;
    gap: 10px;
    transform: rotate(-20deg);
    overflow: hidden;
}
.centertab{
    display: flex;
    transition: 0.6s;
    justify-content: center;
    transform: translateX(-150px);
    opacity: 0;
    perspective: 1500px;
}
.show2{
    opacity: 1;
    transform: translateX(0);
}
.translate{
    transform: translate(160px,-40px);
}
.parent div{
    background-color: #161b22;
    border-radius: 10px;
    transition:transform 1.5s;
    transform: scale(0.8);
    display: flex;
    align-items: center;
}
.hovertab{
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    width: 90%;
    border-radius: 10px;
    background-color: rgba(32, 32, 32, 0.848);
    transform: rotateY(0deg);
    transition: 0.1s;
}
.grad{
    z-index: -1;
    opacity: 0;
    transition:opacity 0.4s;
    transform: translate(0,0);
    position: absolute;
    height: 800px;
    width: 800px;
    top: 0;
    left: 0;
    border-radius: 100%;
    background: rgb(34,193,195);
    background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(13,28,235,0) 61%);  
}
.div1 { grid-area: 1 / 1 / 2 / 3; transition-delay: 0.2s !important;  }
.div2 { grid-area: 2 / 1 / 3 / 2; transition-delay: 0.5s !important;}
.div3 { grid-area: 2 / 2 / 3 / 3; transition-delay: 0.3s !important;}
.div4 { grid-area: 3 / 1 / 4 / 2; transition-delay: 0.35s !important;}
.div5 { grid-area: 3 / 2 / 4 / 3; transition-delay: 0.4s !important;}

.show{
    transform: scale(1) !important;
}

@media (max-width: 800px){
    .parent{
        width: 0;
    }
}
.textele{
    font-family: sans-serif;
    font-size: 18px;
    margin:0px 50px;
    margin-top: 100px;
    color: white;
    pointer-events: none;
    margin-bottom: 70px;
}

.line{
    width: 3px;
    margin-left: 0;
    height: 100px;
    background-color: rgb(48, 48, 48);
    transform: scaleY(0%);
    transition:transform 0.25s;
}
#line2{
    transform-origin: top;
    transform: scaleY(0);
    transition:transform 0.5s;
}
.lineshow{
    transform: scaleY(1) !important;
}

#icon{ 
    color: black;
    border-radius: 100%;
    padding: 10px;
    transform: translate(-45%,1.5px);
}
.icon{
    position: relative;
    opacity: 0;
    transition:opacity 0.5s linear;
}
.icon2{
    position: relative;
    opacity: 0;
    transition:opacity 0.5s linear;
}
.fadeiconic{
    opacity: 1;
}
.rad-grad{
    transition: 0.3s;
    position: absolute;
    height: 60px;
    transform: translate(-45%,-15%);
    width: 60px;
}
.icon-rad{
    background: rgb(36,99,187);
    background: radial-gradient(circle, rgba(36, 99, 187, 0.481) 15%, rgba(36,99,187,0.17083329913996848) 40%, rgba(255, 255, 255, 0) 65%);
   
}
.div1 .griditem{
    height: 90%;
    width: 200px;
    background-color: transparent;
}
.div1 .griditem img{
    height: 90%;
    height: 200px;
    object-fit: contain;
    object-position: center;
}
.div2 .griditem,
.div3 .griditem,
.div4 .griditem,
.div5 .griditem{
    margin-top: 10px;
    align-self: flex-start;
    height: 90%;
    width: 200px;
    background-color: transparent;
}
.headingele{
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
}
