@font-face { font-family: Delicious; src: url('styles/faant.otf'); }
@font-face {font-family:Delilite ;src: url('styles/faantlite.otf');}
@font-face {font-family:Delimid ;src: url('styles/faantmid.otf');}
*{
    margin: 0;
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
}
.parallax {
    position:fixed;
    top: 0;
    overflow: hidden;
    position: relative;
    background-color:#cdcdcd;
    height: 100vh;
}
.parallax img{
    pointer-events: none;
    border:1px solid black;
    width: 40%;
    object-fit: cover;
    object-position: center center;
}
canvas{
    position: absolute;
    top: 20%;
    left:7%;
    width: 10%;
    height: 20%;
    padding: 40px;
}
.text{
    top: 63.5%;
    left: 0%;
    position: absolute;
    white-space: nowrap;
    text-align: center;
    font-size: 210px;
}
.marquee {
    position: absolute;
    display: block;
    margin: auto auto;
    white-space: nowrap;
    overflow: hidden;
    min-width: 100%;
    height: 100%;
   font-family:Delimid;
    font-weight: 100;
    color: white;
    z-index: 200;
    pointer-events: none;
    letter-spacing: -1px;
    word-spacing: 5px;
}
@media (max-width:1320px){
    .text{
        font-size: 100px;
    }
}
@media(max-width:1030px){
    .text{
        font-size: 80px;
    }
}
@media (max-width:780px){
    .parallax{
        height: 80vh;
    }
    .parallax img{
        height: 80vh;
    }
    .text{
        font-size: 60px;
    }
}
@media (max-width:632px){
    .parallax{
        height: 60vh;
    }
    .parallax img{
        height: 60vh;
    }
    .text{
        font-size:45px;
    }
}
@media (max-width:490px){
    .parallax{
        height: 35vh;
    }
    .parallax img{
        margin-top: 20px;
        z-index:211;
        height: 95%;
        width: 45%;
    }
    .marquee{
        font-size: 45px;
    }
    .text{
        top: 75%;
    }
    canvas{
        top: 20.5%;
        left:0%;
        width: 13.5%;
        height: 24%;
        padding: 40px;
    }

}

