html{
    scroll-behavior: smooth;
}
header{
    padding: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
    transition: background-color 0.5s ease;
   
}
.solid-header{
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
    color: aliceblue;
    font-family: Delicious;
    z-index: 10;
    left: 0;
    right: 0;
}
.brand-name{
    font-size:3vw;
    transition: transform 0.25s ease;
    cursor: pointer;
}
.about,.home{
    font-size: 1.2vw;
    transition: transform 0.25s ease;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.35);
}
.transparent-header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 13vh;
    color: aliceblue;
    font-family:Delicious;
    z-index: 10;
}
header.small{
    height: 10.5vh;
    transition: 0.5s;
}
header.big{
    transition: 0.5s;
}
.h-a{
    display: flex;
    gap: 25px;
    justify-content: space-between;
}
.h-a div{
    position: relative;
    cursor: pointer;
}
.h-a div::before{
    content: '';
    position: absolute;
    transform: scaleX(0);
    transform-origin: center;
    width: 100%;
    height: 100%;
    border-bottom: solid 1.5px white;
    transition: 0.2s;
}
.he-a{
    display: flex;
    gap: 25px;
    justify-content: space-between;
}
.he-a div{
    position: relative;
    cursor: pointer;
}
.he-a div::before{
    content: '';
    position: absolute;
    transform: scaleX(0);
    transform-origin: center;
    width: 100%;
    height: 100%;
    border-bottom: solid 1.5px black;
    transition: 0.2s;
}
.he-a div:hover::before{
    transform: scaleX(1);
}
.h-a div:hover::before{
    transform: scaleX(1);
}

.header .h-a{
    margin-right: 40px;
}
.header h2{
    margin-left: 30px;
}
.top-text{
    text-align: center;
    background-color: blue;
    position: sticky;
    bottom: 0px;
}
.top-text p{
    padding: 3px 0px;
}
@font-face { font-family: Delicious; src: url('styles/faant.otf'); }
.bigboi{
    padding-top:100px;
    display: flex;
    flex-direction: column;
    padding-bottom: 200px;
}
.projects{
    display: flex;
    flex-direction: column;
}
.project-heading{
    font-family:Delicious;
    color: black;
    font-size: 4vw;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.project-desc{
    max-width: 800px;
    text-align: center;
    font-size: 1.5vw;
    font-family: roboto;
}
.projects-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 30px;
}
.project-window{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.project-window-image{
    padding: 40px;
    height: 250px;
    width: 250px;
}
.project-window-details{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.project-name{
    font-family: roboto;
    margin-top: -15px;
    font-size: 1.55vw;
    margin-bottom: 10px;
}
.project-position{
    font-family: Delicious;
    font-size: 1.3vw;
    font-weight: bold;
}

.project-window-image img{
    width: 100%;
    height: 100%;
    border-radius:50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
@media (max-width:1067px){
    .projects-grid{
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width:735px){
    .projects-grid{
        grid-template-columns: 1fr;
    }
}
.not-purple-bs{
    text-decoration: none;
    color: black;
}

.heading{
    font-size: 4.5vw;
    font-family: Delicious;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    color: #1e1d20;

}
.no-link-effect{
    text-decoration: none;
    color: white;
}
@media (max-width:500px){
    header.big{
        height: 6vh;
    }
    header.small{
        height: 4vh;
    }
    .bigboi{
        padding-top:100px;
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
    }
    .project-desc{
        max-width: 250px;
        font-size: 2.5vw;
    }
    .project-window-image img{
        width: 100%;
        height: 100%;
    }
    .brand-name{
        font-size: 3vw;
    }
    .about,.home{
        font-size: 2.5vw;
    }
    .project-name{
        font-size: 3vw;
    }
    .project-position{
        font-size: 2vw;
    }
}
