@font-face { font-family: Delicious; src: url('styles/faant.otf'); }
@font-face {font-family:Delilite ;src: url('styles/faantlite.otf');}
@font-face {font-family:Delimid ;src: url('styles/faantmid.otf');}
*{
    margin: 0;
    scroll-behavior: smooth;
}
body{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    height:auto;
}
body::-webkit-scrollbar {
    width: 0; 
}
main{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.parallax {
    overflow: hidden;
    position: relative;
    background-color:#cdcdcd;
    height: 47vw;
}
.parallax img{
    pointer-events: none;
    border:1px solid #cdcdcd;
    max-width: 40%;
    object-fit: cover;
    object-position: center center;
}
.typing-text{
    position: absolute;
    top: 30%;
    right: 10%;
    z-index: 201;
    font-family: Delicious;
    font-size: 4vw;
    display: flex;
    align-items: center;
}
.iamt{
      color: white;
}
.textt{
      color:black;
  }
canvas{
    position: absolute;
    top: 20.5%;
    left:8%;
    width: 10.45vw;
    height: 10.45vw;
    padding:2vw;
}
.text{
    position: absolute;
    top: 70%;
    white-space: nowrap;
    text-align: center;
    font-size: 13vw;
}
.marquee {
    position: absolute;
    display: block;
    margin: auto auto;
    white-space: nowrap;
    overflow: hidden;
    min-width: 100%;
    height: 100%;
    font-family:Delimid;
    font-weight: 100;
    color: white;
    z-index: 200;
    pointer-events: none;
    letter-spacing: -1px;
    word-spacing: 5px;
}
