#sidethingi{
    top: -25%;
    overflow: hidden;
    position: fixed;
    display: flex;
    justify-content: center;
    right: -100%;
    height: 150vh;
    min-width: 350px;
    width: 40%;
    background-color: black;
    transition:0.7s ease;
    border-radius: 90% 10% 10% 90% / 50% 0% 0% 50% ;
    z-index: 999;
    flex-direction: column;
    color: white;
    font-family: roboto;
    font-size: 4.5vw;
}
.show{
    right: 0 !important;
}

.showb{
    border-radius: 0% 100% 100% 0% / 50% 0% 0% 50%   !important;

}
.sidething-heading{
    font-size: 0.9vw;
    font-weight:bold;
    color: gray;
    padding-left: 100px;
    padding-right: 50px;
}
.sidething-heading div{
    border-bottom: 0.5px solid gray;
    padding-bottom: 15px;
}
.sidething-container{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.sidething-options{
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-left:0;
    padding-right: 0;
    gap: 5px;
}
.sidething-unit{
    height: 80%;
    padding-right: 100px;
}
.sidething-unit2{
    height: 20%;
    padding-right: 100px;
}
.sidething-socials{
    display: flex;
    font-size: 1.1vw;
    gap: 30px;
    padding-left: 100px;
}
.no-border{
    border-bottom: none;
    padding-bottom:5px;
}
.sidething-options-unit{
    display: flex;
    align-items: center;
    padding-left: 100px;
    position: relative;
}
.dot-button{
    position: absolute;
    top: -15.5%;
    left: -25.5%;
    color: white;
    font-size: 6.5vw;
} 
.sidething-helper{
    position: relative;
    display: flex;
    gap: 20px;
    cursor: pointer;
    transition: transform 0.5s;
    padding-bottom: 10px;
}
.sidething-socials-unit {
    position: relative;
    text-decoration: none;
    cursor: pointer;
    padding-bottom: 5px;
    transition: transform 0.5s;
}

.sidething-socials-unit::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: white;
    transition: width 0.3s, left 0.3s;
}

.sidething-socials-unit:hover::after {
    width: 100%;
    left: 0;
}

@media (max-width:500px){
    #sidethingi{
        top: -25%;
        width: 100%;
        font-size: 13.5vw;
    }
    .sidething-heading{
        font-size: 1.9vw;
        padding-left: 100px;
        padding-right: 50px;
    }
    .sidething-socials{
        font-size: 3.8vw;
        gap: 30px;
    }
    .dot-button{
        font-size: 19.5vw;
    } 
}


