.sliders{
    transition: border-radius 0.2s ease;
    overflow: hidden;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
    gap:120px;
}
.Aboutus{
    width: 100%;
    background-color: rgb(0, 0, 0);
    height: 500px;
    position: absolute;
    transform: translateY(-140px);
    z-index: -1;
}
.object{
    flex: 1;
    height: 100%;
    padding: 37.5px 0px;
    background-color: rgba(179, 179, 179, 0.538);
    display: flex;
    justify-content: center;
    align-items: center;
}
.object img{
    width: 90%;
    max-height: 95%;
}
.row{
    transition: transform 0.3s ease-out;
    display: flex;
    width: 120%;
    height: 200px;
    gap: 35px;
}
#row1{
    transform: translateX(-70px);
}
#row2{
    transform: translateX(-15px);
}
.inner-object{
    background-color: pink;
    width: 80%;
    height: 100%;
}
@media (max-width:1070px){
    .object:nth-child(4){
        display: none;
    }
}
@media (max-width:735px){
    .object{
        height:45%;
    }
    .row{
        gap: 5px;
    }
    .sliders{
        gap: 0px;
    }
}
