
.stacker-helper{
    background-color: black;
}
.stacker-container{
    z-index: 200;
    overflow: hidden;
    background-color: white;
}
.sliders{
    transition: border-radius 0.2s ease;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap:2.5vw;
    padding-bottom:6vw;
}
.Aboutus{
    width: 100%;
    background-color:black;
    height: 100vh;
    z-index: -1;
}
.object{
    width: 100%;
    height: 15vw;
    padding:2.25vw;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    background-color: rgba(179, 179, 179, 0.538);
    display: flex;
    justify-content: center;
    align-items: center;
}
.row{
    transition: transform 0.3s ease-out;
    display: flex;
    width: 120%;
    gap:2.5vw;
}
#row1{
    transform: translateX(-10%);
}
#row2{
    transform: translateX(-2.5%);
}
.inner-object{
    background-color: black;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.inner-object img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    
}
.slideupper img{
    animation: slidertop 15s ease infinite;   
}
.slideleft{
    white-space: nowrap;
}
.slideleft img{
    animation: sliderleft 15s ease infinite;
}   
@keyframes slidertop{
    0%{
        transform: translateY(0%);
    }
    16.67%{
        transform:translateY(-100%) ;
    }
    33.3%{
        transform:translateY(-205%);
    }
    50.01%{
        transform: translateY(-307%);
    }
    66.68%{
        transform: translateY(-405%);
    }
    83.35%{
        transform: translateY(-510%);
    }
    100%{
        transform: translateY(0%);
    }
}
@keyframes sliderleft{
    0%{
        transform: translateX(0%);
    }
    16.67%{
        transform:translateX(-100%) ;
    }
    33.3%{
        transform:translateX(-200%);
    }
    50.01%{
        transform: translateX(-303%);
    }
    66.68%{
        transform: translateX(-405%);
    }
    83.35%{
        transform: translateX(-505%);
    }
    100%{
        transform: translateX(0%);
    }
}
@media (max-width:1070px){
    .object:nth-child(4){
        display: none;
    }
}
@media (max-width:500px){
    .sliders{
        justify-content: center;
        padding-left: 2vw;
        padding-right: 1vw;
    }
    .object{
        max-width: 105px;
    }
    .stacker-container{
        padding: 0;
    }
    .Aboutus{
        height: 50vh;
    }
    #row1{
        transform: translateX(0%);
    }
    #row2{
        transform: translateX(0%);
    }
}
